<header class="header">
  <nav class="item-wrapper">
    <ul class="items">
      <li class="item item--title">
        Welcome back, <u>{{ user$ | async }}</u>!
      </li>

      <li
        class="item item--link"
        routerLink="home"
        routerLinkActive="item--active"
      >Home</li>

      <li
        class="item item--link"
        routerLink="superheroes"
        routerLinkActive="item--active"
      >Superheroes</li>

      <li
        class="item item--link"
        routerLink="favorites"
        routerLinkActive="item--active"
      >Favorites</li>

      <li class="item item--button">
        <app-button
          icon="logout"
          label="Logout"
          (click)="onLogout()"
        ></app-button>
      </li>
    </ul>
  </nav>
</header>