.list {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-right: 60px;
  list-style-type: none;

  font-size: 16px;
  color: rgb(126, 126, 126);

  .highlight {
    color: rgb(27, 27, 27);
  }

  .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .label {
      width: 100px;
    }

    .bar {
      flex: 1;
      width: 100%;

      &--power {
        accent-color: rgb(230, 230, 230);
      }

      &--speed {
        accent-color: rgb(230, 230, 230);
      }

      &--combat {
        accent-color: rgb(230, 230, 230);
      }

      &--strength {
        accent-color: rgb(230, 230, 230);
      }

      &--durability {
        accent-color: rgb(230, 230, 230);
      }

      &--intelligence {
        accent-color: rgb(230, 230, 230);
      }
    }
  }
}