<div
  class="card"
  [ngClass]="{'card--loading': loader}"
>
  <ng-container *ngIf="!loader">
    <span class="card__id">#{{ superhero.id }}</span>

    <img
      loading="lazy"
      class="card__image"
      [src]="superhero.image"
      [alt]="superhero.name + '\'s picture'"
    />

    <div class="card__content">
      <div class="card__title">{{ superhero.name }}</div>
      <div class="card__favorite">
        <span
          class="material-symbols-outlined"
          (click)="onFavorite($event)"
        >
          heart_plus
        </span>
      </div>
    </div>
  </ng-container>
</div>