<div class="root">
  <h2 class="title">Superheroes</h2>

  <div class="content">
    <label class="input input--password">
      <span class="input__label">
        <span class="material-symbols-outlined input__icon">search</span> Search
      </span>

      <input
        #input
        autocomplete
        type="search"
        class="input__field"
        placeholder="Search for a superhero..."
        [(ngModel)]="search"
      >
    </label>

    <div class="superheroes-wrapper">
      <ul class="superheroes">
        <li
          *ngFor="let superhero of superheroes$ | async"
          class="superheroe"
        >
          <app-thumb [superhero]="superhero"></app-thumb>
        </li>
      </ul>

      <div [hidden]="search.length > 0" id="cardLoader">
        <app-loader></app-loader>
      </div>
    </div>
  </div>
</div>