.root {

  .title,
  .description {
    margin: 0;
    padding: 0;
    width: 100%;

    color: #1f1f1f;
  }

  .title {
    font-size: 72px;
    margin-top: -24px;
  }

  .description {
    font-size: 18px;
    font-weight: 400;
  }

  .input {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #2727276e;
  }
}

.superheroes-wrapper {
  .superheroes {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    list-style-type: none;

    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
  }
}