<div class="root">
  <div class="root__left">
    <h1 class="title">Sandbox</h1>
    <h1 class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut rerum corporis in quaerat, non enim incidunt
      beatae nostrum libero.
    </h1>
  </div>

  <div class="root__right">
    <form
      [formGroup]="form"
      class="form"
    >
      <app-input
        label="Username"
        icon="account_circle"
        autocomplete="username"
        formControlName="username"
        error="Fill in your username"
        placeholder="Enter your username"
      ></app-input>

      <app-input
        icon="lock"
        type="password"
        label="Password"
        autocomplete="password"
        formControlName="password"
        error="Fill in your password"
        placeholder="Enter your password"
      ></app-input>

      <app-button
        icon="login"
        label="Login"
        [loading]="loading"
        (click)="onLogin()"
        loadingLabel="Login-in..."
      ></app-button>
    </form>
  </div>
</div>