<div class="root">
  <div class="root__left">
    <h1 class="title">Sandbox</h1>
    <h1 class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut rerum corporis in quaerat, non enim incidunt
      beatae nostrum libero.
    </h1>
  </div>

  <div class="root__right">
    <form [formGroup]="form" class="form">
      <label class="input input--email">
        <span class="input__label">
          <span class="material-symbols-outlined input__icon">account_circle</span>
          Username
        </span>
        <input type="text" autocomplete="username" placeholder="Enter your username" class="input__field"
          formControlName="username">
      </label>

      <label class="input input--password">
        <span class="input__label">
          <span class="material-symbols-outlined input__icon">lock</span> Password
        </span>
        <input type="password" autocomplete="current-password" placeholder="Enter your password" class="input__field"
          formControlName="password">
      </label>

      <button class="button" (click)="onLogin()">
        <span class="material-symbols-outlined button__icon">login</span>Login
      </button>
    </form>
  </div>
</div>