.button {
  cursor: pointer;

  border: none;
  border-radius: 5px;

  padding: 20px 50px;
  max-height: 45px;

  color: #ffffff;
  background-color: #000000;

  font-weight: 400;
  font-family: 'Noto Sans Display', sans-serif;

  transition-duration: 0.2s;
  transition-property: background-color outline;

  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    opacity: 0;
    font-size: 22px;

    min-width: 20px;
    margin-left: -20px;

    transition-duration: 0.2s;
    transition-property: margin opacity;

    &--spin {
      opacity: 1;
      margin-left: 0;

      animation-name: spin;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  &__button {
    transition-duration: 0.2s;
    transition-property: margin-left;
  }

  &:disabled {
    opacity: 0.8;
  }

  &:hover {
    background-color: #141414;

    .button__icon {
      opacity: 1;
      margin-left: 0;
    }

    .button__label {
      margin-left: 5px;
    }
  }

  &:not(&--icon) &__icon {
    display: none;
  }

  &--full {
    width: 100%;
    padding: 20px;
  }

  &--loading {
    .button__label {
      margin-left: 5px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}