<ng-container *ngIf="superhero$ | async as superhero">
  <div class="root">
    <div class="left">
      <img
        loading="lazy"
        class="image"
        [src]="superhero.image"
        [alt]="superhero.name + '\'s picture'"
      />
    </div>

    <div class="right">
      <div class="info">
        <h3 class="title">#{{ superhero.id}} - {{ superhero.name }}</h3>
        <div class="content">
          <ul class="list llist--personal">
            <li>Fullname: <span class="highlight">{{ superhero.fullName }}</span></li>
            <li>Race: <span class="highlight">{{ superhero.race }}</span></li>
            <li>Gender: <span class="highlight">{{ superhero.gender }}</span></li>
            <li>Height: <span class="highlight">{{ superhero.height }}</span> cm</li>
            <li>Weight: <span class="highlight">{{ superhero.weight }}</span> Kg</li>
            <li>Eye color: <span class="highlight">{{ superhero.eyeColor }}</span></li>
            <li>Hair color: <span class="highlight">{{ superhero.hairColor }}</span></li>
            <li>Birth place: <span class="highlight">{{ superhero.birthPlace }}</span></li>
          </ul>

          <ul class="list llist--professional">
            <li>Alignment: <span class="highlight">{{ superhero.alignment }}</span></li>
            <li>Occupation: <span class="highlight">{{ superhero.occupation }}</span></li>
            <li>Alter-ego: <span class="highlight">{{ superhero.alterEgo }}</span></li>
            <li>Aliases: <span class="highlight">{{ superhero.aliases }}</span></li>
            <li>Bases: <span class="highlight">{{ superhero.bases }}</span></li>
            <li>Debute: <span class="highlight">{{ superhero.debute }}</span></li>
            <li>Publisher: <span class="highlight">{{ superhero.publisher }}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="more">
    <app-stats [stats]="superhero.stats"></app-stats>

    <app-card title="Affiliations">
      <li *ngFor="let group of superhero.affiliations"><span class="highlight">{{ group }}</span></li>
    </app-card>

    <app-card title="Relatives">
      <li *ngFor="let relative of superhero.relatives"><span class="highlight">{{ relative }}</span></li>
    </app-card>
  </div>
</ng-container>