<div class="root">
  <div class="hero">
    <div class="thumb"></div>
    <div class="content">
      <h2 class="title">Sandbox</h2>
      <p class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore ipsam ipsum soluta vel
        possimus impedit aut animi, blanditiis voluptate quod consequatur quis nemo eius ex tempore, debitis earum iusto
        in.
      </p>
      <br>
      <p class="description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus impedit illum iusto quis nobis, blanditiis
        vitae sequi saepe quam? Harum totam optio commodi ex magnam. Quibusdam reprehenderit nulla maxime illo!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus impedit illum iusto quis nobis, blanditiis
        vitae sequi saepe quam? Harum totam optio commodi ex magnam. Quibusdam reprehenderit nulla maxime illo!Lorem
        ipsum, dolor sit amet consectetur adipisicing elit. Delectus impedit illum iusto quis nobis, blanditiis
        vitae sequi saepe quam? Harum totam optio commodi ex magnam. Quibusdam reprehenderit nulla maxime illo!
      </p>
      <br>
      <p class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore ipsam ipsum soluta vel
        possimus impedit aut animi, blanditiis voluptate quod consequatur quis nemo eius ex tempore, debitis earum iusto
        in.
      </p>
    </div>
  </div>

  <div class="explore">
    <p class="description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus impedit illum iusto quis nobis, blanditiis
      vitae sequi saepe quam? Harum totam optio commodi ex magnam. Quibusdam reprehenderit nulla maxime illo!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus impedit illum iusto quis nobis, blanditiis
      vitae sequi saepe quam? Harum totam optio commodi ex magnam. Quibusdam reprehenderit nulla maxime illo!Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Delectus impedit illum iusto quis nobis, blanditiis
      vitae sequi saepe quam? Harum totam optio commodi ex magnam. Quibusdam reprehenderit nulla maxime illo!
    </p>
    <br>
    <p class="description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore ipsam ipsum soluta vel
      possimus impedit aut animi, blanditiis voluptate quod consequatur quis nemo eius ex tempore, debitis earum iusto
      in.
    </p>
  </div>
</div>